body {
    background-color: whitesmoke;
}

#papaDiv {
    display: flex;
    justify-content: center;
}


#daddyDiv {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.childDiv {
    border: 0;
    display: flex;
    flex-grow: 0;
}

.bgChanged {
    background-color: black;
}

button {
    margin: 50px;
    width: 100px;
    height: 50px;
}

#buttonHolder {
    display: flex;
    justify-content: center;
}