div {
    border: 0;

}

#daddyDiv {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.childDiv {
    display: flex;
    flex-grow: 0;
}

.bgChanged {
    background-color: black;
}